.rightNav {
	position: absolute;
	top: 50%;
	right: -10%;
	width: 100px;
	height: 600px;
	background-color: transparent;
	transform: translateY(-50%);
}

.navUl {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

.rightNav > ul > li {
	background-color: transparent;
	/* flex: auto; */
	/* width: 100px;
	height: 150px; */
	text-align: center;
	color: white;
}

.icons {
	width: 70px;
	height: 70px;
	cursor: pointer;
}
